<%- include('header') -%>

<section class="admin">
  <%- include('back-button') -%>
  <form method="POST">
    <button formaction="/runAlgorithm" id="da-button">
      <span class="da-button-text">
        Do the thing
      </span>
    </button>
  </form>
</section>

<%- include('footer') -%>