<%- include('header') -%>

<section class="ugk">
  <%- include('back-button') -%>
  <p class="strong beeger">We received your form!</p>
  <p>Your key is:</p>
  <p class="strong beeger"> <%= key %> </p>
  <p>Please make sure to save this key for later use. DO NOT LOSE IT!</p>
</section>

<%- include('footer') -%>