<%- include('header') -%>

<section>
  <%- include('back-button') -%>
  <h2>Secret Santa!</h2>
  <p class="beeger">Your Giftee is <span class="strong"><>insert name</span>.</p>
  <div class="wishlist beeger">
    <p class="giftee"><span class="strong"><>insert name</span> wishes for:</p>
    <ul class="wishlistlist">
      <li><span><>insert w1</span></li>
      <li><span><>insert w2</span></li>
      <li><span><>insert w3</span></li>
    </ul>
  </div>
</section>

<%- include('footer') -%>