<%- include('header') -%>

<section>
  <%- include('back-button') -%>
  <h2>Secret Santa!</h2>
  <p>Your Giftee is <div><></div> </p>
  <p><div><></div> wishes for</p>
  <ul>
    <li><div><></div></li>
    <li><div><></div></li>
    <li><div><></div></li>
  </ul>
</section>

<%- include('footer') -%>