<%- include('header') -%>
<section class="guess active">
    <button class="back-button"><ion-icon name="close"></ion-icon></button>
    <h2>Guess Your Secret Santa:</h2>
    <div class="guess-screen">
      <div class="info">
        <label for="user">Select Your Name:</label>
        <select name="user" id="info-guess-user"></select>
        <label for="key">Enter Your Key:</label>
        <input type="text" id="info-guess-key" name="key" required>
      </div>
      <label for="user">Select Your Guess:</label>
      <select name="user" id="guess-user"></select>
      <button class="submit-button">Submit</button>
    </div>
    <div class="answer-screen">
      <div class="correct hide">
        <h3>You were correct!</h3>
      </div>
      <div class="incorrect hide">
        <h3>You were incorrect! Better luck next year!</h3>
        <button class="answer">See Answer</button>
      </div>
    </div>
  </section>

  <%- include('footer') -%>