<%- include('header') -%>
<section class="welcome">
  <h1>WELCOME TO</h1>
  <h1>SECRET SANTA 2023!!</h1>
  <div class="rules">
    <h3>Rules and Acknowledgements</h3>
    <ul>
      <li>Everyone who wants to participate must fill out a form.</li>
      <li>Do not fill out the form multiple times.</li>
      <li>
        Upon form completion, you will be entered into the Secret Santa System
        and a unique key will be generated for you.
      </li>
      <li>
        Secret Santas will be randomised and no preferences or choices will be
        taken into consideration.
      </li>
      <li>
        Do not spoil the fun and reveal who your Secret Santa is before the time
        comes.
      </li>
      <li>All wishlist items must be within the $60 limit.</li>
      <li>
        Feel free to type as much or little detail into your wishlist or link
        directly to your wish.
      </li>
      <li>Please list at least 1 wishlist item and no more than 3.</li>
    </ul>
    <p>
      Failure to comply to any and all of the rules will result in forfeiture of
      user's gift to Eugene Ngo.
    </p>
  <form method="POST">
    <div class="agreement">
      <input type="checkbox" id="agreedge" name="agreedge" autocomplete="off" val>
      I acknowledge and agree to all the rules listed above.
    </div>
  <div class="menu">
    <button formaction="/SSform" id="to-form">
      <p>To Fill Out The Form</p>
      <p>Press Here</p>
    </button>
    <button formaction="/viewSS" id="to-target">
      <p>To View Your Target</p>
      <p>Press Here</p>
    </button>
    <button formaction="/guessSS" id="to-ss">
      <p>To Guess Your Secret Santa</p>
      <p>Press Here</p>
    </button>
  </div>
  </form>
</section>

<%- include('footer') -%>
