<%- include('header') -%>
<section class="form">
  <%- include('back-button') -%>

  <h2>Secret Santa Form</h2>
  <form class="ssform" method="post" action="/submit-list">
    <div class="input">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="First and Last Name Please"
        size="25"
        maxlength="25"
        autocomplete="off"
        required
      />
    </div>

    <div class="input">
      <label for="origin">Select your family:</label>
      <select name="origin" id="origin" autocomplete="off" required>
        <option value=""></option>
        <option value="family1">Hung Ngo & Van Vuong</option>
        <option value="family2">Emily Ngo & Phu Do</option>
        <option value="family3">Anthony Ngo & Diane Vo</option>
        <option value="family4">Jeannie Ngo & Hung Tong</option>
        <option value="family5">Lynn Ngo & Chris Lim</option>
      </select>
    </div>

    <div class="input">
      <label for="wishlist">Wishlist:</label>
      <input
        type="text"
        id="wish1"
        name="wish1"
        placeholder="Please enter at least 1"
        autocomplete="off"
        required
      />
      <input
        type="text"
        id="wish2"
        name="wish2"
        placeholder="wishlist item"
        autocomplete="off"
      />
      <input
        type="text"
        id="wish3"
        name="wish3"
        placeholder="but no more than 3"
        autocomplete="off"
      />
    </div>

    <div class="input">
      <button type="submit" id="form-submit-button">Submit</button>
    </div>
  </form>
</section>

<%- include('footer') -%>
