<%- include('header') -%>
<%- include('back-button') -%>
<section>
  <div class="gate">
    <h2 class="strong">You may not access this page until:</h2>
    <p class="strong">December 3<p>
  </div>
</section>

<%- include('footer') -%>