<%- include('header') -%>
<section>
  <%- include('back-button') -%>
  <div class="gate">
    <h2 class="strong">You may not access this page until:</h2>
    <p class="strong">December 13<p>
  </div>
</section>

<%- include('footer') -%>
