<%- include('header') -%>
<%- include('back-button') -%>
<section>
  <h1 class="strong">You may not access this page until:</h1>
  <p class="strong">December 3<p>
</section>

<%- include('footer') -%>