<%- include('header') -%>
<section class="view active">
    <button class="back-button"><ion-icon name="close"></ion-icon></button>
    <h2>Please input your name and key:</h2>
    <div class="info-prompt">
      <div class="info">
        <label for="user">Select Your Name:</label>
        <select name="user" id="info-view-user"></select>
        <label for="key">Enter Your Key:</label>
        <input type="text" id="info-view-key" name="key" required>
      </div>
      <button class="submit-button">Submit</button>
    </div>
    <div class="info-display hide">
      <!-- Add h2 "You are _'s Secret Santa"
      Display Wish List -->
    </div>
  </section>

  <%- include('footer') -%>